<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
</head>
<body>

     <!--Header-->
     <header>
        <div>
            <h1>Recetario</h1>
            <p id="minititle">Recetas para todos los dias</p>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="navbar-">
        <a href="../../index.html">Inicio</a>
        <a href="Postres.html">Postres</a>
        <a href="formulario.html">Formulario</a>
    </nav>
        <!--Formulario -->
        
 <form>
    <div>
    <fieldset>
     <legend>Formulario de registro:</legend>
                
         <label for="nombre">Nombre</label>
         <input type="text" name="name" id="nombre">
                
         <label for="apellido">Apellido</label>
         <input type="text" name="Iname" id="apellido" required>
                
         <label for="email">Email</label>
         <input type="email" name="email" id="email" required>
                
         <label for="pass">Contraseña</label>
         <input type="password" name="password" id="pass" required>

         <label for="fecha">Fecha de nacimiento</label>
         <input type="date" name="date" id="fecha">

         <input type="submit" value="Registrarse">
         <input type="reset" value="Borrar">
    </fieldset>
    </div>
 </form>

 <!-- FOOTER -->

   <footer id="colorformulario">
     <p>&copy; Por Daniel Vicente. Gral. Rodriguez Potrero digital aula 2</p>
   </footer>

    
</body>
</html>